/* Hero Section */
#hero {
    position: relative;
    text-align: center;
    padding: 0; /* Remove padding to ensure the full image is visible */
    background-color: #f4f4f4;
    background-image: url('https://i.ibb.co/Qn8RxyR/Toronto-Skyline-Wide-2014.jpg');
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center center; /* Center the image horizontally and vertically */
    width: 100%; /* Ensure the container spans the entire width */
    height: 100vh; /* Ensure the hero section takes up the full height of the viewport */
}

#hero .cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero .btn {
    padding: 10px 20px;
    background-color: #0044cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
